<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="home" data-spy="scroll" data-target=".header" data-offset="50">
		<div class="pre-loader">
			<i class="spinner"></i>
		</div>
		<!-- header section start -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-4">
						<div class="display-table">
							<div class="display-table-cell">
								<div class="logo">
									<a href="#home"><h2>img</h2></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-8">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a class="nav-link active" href="#home">Home</a></li>
                                <li><a class="nav-link" href="#about">About Me</a></li>
                                <li><a class="nav-link" href="#service">Service</a></li>
                                <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                                <li><a class="nav-link" href="#testimonial">Testimonial</a></li>
                                <li><a class="nav-link" href="#contact">Contact</a></li>
                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header><!-- header section end -->
		<!-- slider section start -->
		<section class="slider">
			<div class="display-table">
				<div class="display-table-cell">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="slider-area">
									<div class="single-slide">
										<h2>SUMON SHADAKIN</h2>
										<h1>I’m UX UI Designer</h1>
										<a href="#" class="btn-one">See my work</a>
										<a href="#" class="btn-one btn-two">Hire me</a>
									</div>
									<div class="single-slide">
										<h2>SUMON SHADAKIN</h2>
										<h1>I’m UX UI Designer</h1>
										<a href="#" class="btn-one">See my work</a>
										<a href="#" class="btn-one btn-two">Hire me</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- slider section end -->
		<!-- about section start -->
		<section class="ptb-100" id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
					    	<h2>ABOUT ME</h2>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
					    <div class="single-about-box">
							<ul>
								<li><span>Age</span>: 29</li>
								<li><span>Address</span>: 88 Some Street, Some Town</li>
								<li><span>e-mail</span>: email@example.com</li>
								<li><span>Phone</span>: +0123 123 456 789</li>
								<li><span>Freelance</span>: Available</li>
							</ul>
					    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
							<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lau</p>
							<a href="#" class="btn-one">Download My Cv</a>
					    </div>
					</div>
					<div class="col-lg-6">
					    <div class="single-about-box">
					    	<h2>img</h2>
					    </div>
					</div>
				</div>
			</div>
		</section><!-- about section end -->
		<!-- skills section start -->
		<section class="skills ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
					    	<h2>PROFESSIONAL SKILLS</h2>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
					    <div class="single-skill-box">
							<div class="demo-1" data-percent="95">
								<div class="demo-value">
									<div class="display-table">
										<div class="display-table-cell">
											<p><span class="counter">95</span>%</p>
											<p>Photoshop</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
					    <div class="single-skill-box">
							<div class="demo-2" data-percent="80">
								<div class="demo-value">
									<div class="display-table">
										<div class="display-table-cell">
											<p><span class="counter">80</span>%</p>
											<p>HTML & CSS</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
					    <div class="single-skill-box">
							<div class="demo-2" data-percent="75">
								<div class="demo-value">
									<div class="display-table">
										<div class="display-table-cell">
											<p><span class="counter">75</span>%</p>
											<p>JQUERY</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
					    <div class="single-skill-box">
							<div class="demo-2" data-percent="60">
								<div class="demo-value">
									<div class="display-table">
										<div class="display-table-cell">
											<p><span class="counter">60</span>%</p>
											<p>WordPress</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- skills section end -->
		<!-- service section start -->
		<section class="service-area ptb-100" id="service">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
					    	<h2>WHAT I DO</h2>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
					    <div class="single-service-box">
							<div class="service-box-icon">
								<i class="fa fa-id-card-o"></i>
							</div>
							<h3>UI/UX DESIGN</h3>
							<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</h4>
						</div>
					</div>
					<div class="col-lg-6">
					    <div class="single-service-box">
							<div class="service-box-icon">
								<i class="fa fa-folder-open"></i>
							</div>
							<h3>BRAND IDENTITY</h3>
							<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</h4>
						</div>
					</div>
					<div class="col-lg-6">
					    <div class="single-service-box">
							<div class="service-box-icon">
								<i class="fa fa-mobile"></i>
							</div>
							<h3>MOBILE APPS</h3>
							<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</h4>
						</div>
					</div>
					<div class="col-lg-6">
					    <div class="single-service-box">
							<div class="service-box-icon">
								<i class="fa fa-camera"></i>
							</div>
							<h3>PHOTOGRAPHY</h3>
							<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</h4>
						</div>
					</div>
				</div>
			</div>
		</section><!-- service section end -->
		<!-- process section start -->
		<section class="process ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
					    	<h2>WORKING PROCESS</h2>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-process-box">
							<h2>img</h2>
							<h3>IDEA</h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-process-box">
							<<h2>img</h2>
							<h3>DESIGN</h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-process-box">
							<h2>img</h2>
							<h3>DEVELOP</h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-process-box">
							<h2>img</h2>
							<h3>RELEASED</h3>
						</div>
					</div>
				</div>
			</div>
		</section><!-- process section end -->
		<!-- portfolio section start -->
		<section class="ptb-100" id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
					    	<h2>MY PORTFOLIO</h2>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="portfolio-menu">
							<ul>
                                <li data-filter="*" class="active">Show all</li>
                                <li data-filter=".design">Web Design</li>
                                <li data-filter=".development">Web Development</li>
                                <li data-filter=".photography">Photography</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row product-item">
                    <div class="col-lg-4 col-sm-6 design">
                        <div class="single-portfolio-box portfolio-bg-1">
							<div class="display-table">
								<div class="display-table-cell">
									<div class="portfolio-box-overlay">
										<a href="#"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 development">
                        <div class="single-portfolio-box portfolio-bg-2">
							<div class="display-table">
								<div class="display-table-cell">
									<div class="portfolio-box-overlay">
										<a href="#"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 photography">
                        <div class="single-portfolio-box portfolio-bg-3">
							<div class="display-table">
								<div class="display-table-cell">
									<div class="portfolio-box-overlay">
										<a href="#"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 development design">
                        <div class="single-portfolio-box portfolio-bg-4">
							<div class="display-table">
								<div class="display-table-cell">
									<div class="portfolio-box-overlay">
										<a href="#"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 development photography">
                        <div class="single-portfolio-box portfolio-bg-5">
							<div class="display-table">
								<div class="display-table-cell">
									<div class="portfolio-box-overlay">
										<a href="#"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 design">
                        <div class="single-portfolio-box portfolio-bg-6">
							<div class="display-table">
								<div class="display-table-cell">
									<div class="portfolio-box-overlay">
										<a href="#"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
				</div>
			</div>
		</section><!-- portfolio section end -->
		<!-- counter section start -->
		<section class="counter-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
					    <div class="count-box">
							<h2><span class="counter">1000</span></h2>
							<p>Order</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
					    <div class="count-box">
							<h2><span class="counter">500</span>+</h2>
							<p>Customer</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
					    <div class="count-box">
							<h2><span class="counter">3200</span></h2>
							<p>Email</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
					    <div class="count-box">
							<h2><span class="counter">950</span></h2>
							<p>Project Done</p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- counter section end -->
		<!-- blog section start -->
		<section class="blog-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
					    	<h2>WATCH MY BLOG</h2>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="single-blog-post">
							<a href="blog-detail.html"><h2>img</h2></a>
							<h3><a href="blog-detail.html">Photography tips, Lorem ipsum dolor</a></h3>
							<h4>BY <a href="blog-detail.html">ADMIN</a> - IN <a href="blog-detail.html">Photography</a> - <a href="blog-detail.html">10 COMMENTS</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
							<a href="blog-detail.html" class="btn-one btn-two">READ MORE</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single-blog-post">
							<a href="blog-detail.html"><<h2>img</h2></a>
							<h3><a href="blog-detail.html">Photography tips, Lorem ipsum dolor</a></h3>
							<h4>BY <a href="blog-detail.html">ADMIN</a> - IN <a href="blog-detail.html">Photography</a> - <a href="blog-detail.html">10 COMMENTS</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
							<a href="blog-detail.html" class="btn-one btn-two">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
		</section><!-- blog section end -->
		<!-- testimonial section start -->
		<section class="testimonial ptb-100" id="testimonial">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="testimonial-slider">
							<div class="testimonial-box">
								<h2>img</h2>
								<h2><a href="#">FARHAD HOSSAIN</a></h2>
								<h3>Developer</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
							</div>
							<div class="testimonial-box">
								<h2>img</h2>
								<h2><a href="#">KAMAL HOSSAIN</a></h2>
								<h3>Graphics Designer</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- testimonial section end -->
		<!-- contact section start -->
		<section class="ptb-100" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
					    	<h2>Contact With Me!</h2>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
					    <div class="single-contact-box">
							<ul>
								<li>
									<div class="contact-box-icon">
										<div class="display-table">
											<div class="display-table-cell">
												<i class="fa fa-phone"></i>
											</div>
										</div>
									</div>
									<div class="contact-box-text">
										<a href="#">0123456789</a>
										<a href="#">9874563210</a>
									</div>
								</li>
								<li>
									<div class="contact-box-icon">
										<div class="display-table">
											<div class="display-table-cell">
												<i class="fa fa-globe"></i>
											</div>
										</div>
									</div>
									<div class="contact-box-text">
										<a href="#">yourmail@website.com</a>
										<a href="#">www.yourdomain.com</a>
									</div>
								</li>
								<li>
									<div class="contact-box-icon">
										<div class="display-table">
											<div class="display-table-cell">
												<i class="fa fa-map-marker"></i>
											</div>
										</div>
									</div>
									<div class="contact-box-text">
										777 Seventh Avenue, New Yourk 54321
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-8">
					    <div class="single-contact-box">
							<form action="mailto:#">
								<div class="row">
									<div class="col-md-6">
										<input type="text" placeholder="Email"/>
									</div>
									<div class="col-md-6">
										<input type="text" placeholder="Name"/>
									</div>
									<div class="col-md-12">
										<textarea placeholder="Message"></textarea>
									</div>
									<div class="col-md-3 col-sm-6">
										<button class="btn-one">Send</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section><!-- contact section end -->
		<!-- footer section start -->
		<footer class="footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-5 col-md-6">
						<div class="display-table">
							<div class="display-table-cell">
								<div class="footer-info">
									<p>Copyright &copy; 2017 Profile | All rights reserved</p>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-lg-3 col-md-2 text-center">
						<div class="footer-info">
							<a href="#" class="scrollToTop" >
								<i class="fa fa-angle-double-up" aria-hidden="true"></i>
							</a>
						</div>
                    </div>
                    <div class="col-lg-4 col-md-4 text-right">
						<div class="display-table">
							<div class="display-table-cell">
								<div class="footer-info">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
				</div>
			</div>
		</footer>
    <%= yield %>
  </body>
</html>
